<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>TgnDevs | Daniel Tomé Fernández</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css">
    <link rel="stylesheet" href="lib/css/fontawesome-all.min.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section>
            <h1>Reverse proxy with Docker</h1>
            <h3></h3>
            <p>
                <br><br>
            </p>
            <small>Daniel Tomé Fernández | @danitome24 | SREd (URV)</small>
        </section>
        <section>
            <h1>Agenda</h1>
            <ul>
                <li>Context</li>
                <li>Problem</li>
                <li>Proposal solution</li>
                <li>More...</li>
            </ul>
        </section>
        <section>
            <h1>Context</h1>
            <ul>
                <li>Multiple web apps.</li>
                <li class="fragment">Dockerized on the same server.</li>
                <li class="fragment">Only using docker-compose</li>
                <li class="fragment">Manual management (no kubernetes, no swarm)</li>
            </ul>
        </section>
        <section>
            <h1>Problem</h1>
            <ul>
                <li>Multiple ports or urls.</li>
                <p><span style="color: red;" class="fragment">Impossible to build in single server</span></p>
                <p><span style="color: red;" class="fragment">Difficult to maintain</span></p>
                <p><span style="color: red;" class="fragment">Difficult to manage</span></p>
                <p><span style="color: red;" class="fragment">How to deal using HTTP and HTTPS?</span></p>
            </ul>
        </section>
        <section>
            <h2>Proposed solution</h2>
            <p><span style="color: green;">Reverse proxy</span> to de rescue!</p>
        </section>
        <section>
            <section>
                <h2>Reverse proxy on front</h2>
                <ul>
                    <li>Type of proxy server.</li>
                    <li>Intermediary for its associated clients to contact any external server.</li>
                    <img src="images/reverse-proxy.jpg">
                </ul>
            </section>
            <section>
                <h2>Reverse proxy on front</h2>
                <i class="fab fa-github">jwilder/nginx-proxy</i>
                <img src="images/github-picture.png"/>
            </section>
            <section>
                <h2>Reverse proxy on front</h2>
                <ul>
                    <li>jwilder/nginx-proxy: Simple nginx proxy.</li>
                    <li>jwilder/docker-gen: Generate Nginx config files using Docker containers meta-data.</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>Setup: Starter structure</h2>
                <img src="images/tree.png">
            </section>
            <section>
                <h2>Setup: docker-compose.yml 1/2</h2>
                <img src="images/docker-compose.png"/>
            </section>
            <section>
                <h2>Setup: docker-compose.yml 2/2</h2>
                <img src="images/docker-compose2.png"/>
            </section>
            <section>
                <img src="images/magic-happen.jpg" alt=""/>
            </section>
            <section>
                <h2>Setup: nginx.tmpl</h2>
                <div>
                    <ul>
                        <li>Template using in Go text/template</li>
                        <li>Interacts with docker api</li>
                        <li>Generate static config file from a template</li>
                        <li>Set to reload config each change on template</li>
                    </ul>
                    <pre>
                        <code>
    {{ if eq $https_method "redirect" }}
    server {
        server_name {{ $host }};
        listen 80 {{ $default_server }};
        {{ if $enable_ipv6 }}
        listen [::]:80 {{ $default_server }};
        {{ end }}
        access_log /var/log/nginx/access.log vhost;
        return 301 https://$host$request_uri;
    }
    {{ end }}
                        </code>
                    </pre>
                </div>
            </section>
            <section>
                <h2>Run</h2>
                <ul>
                    <li>docker-compose up -d</li>
                </ul>
                <img src="images/result.png"/>
            </section>
        </section>
        <section>
            <section>
                <h2>Advanced 1/2</h2>

            </section>
            <section>
                <h2>Advanced 2/2</h2>
            </section>
        </section>
        <section>
            <section>
                <h2>Extra</h2>
                <img src="images/letsencrypt.png">
            </section>
            <section>
                <h2>Extra: Setup</h2>
                <pre>
                    <code>
    nginx-letsencrypt:
     image: jrcs/letsencrypt-nginx-proxy-companion
     container_name: nginx-letsencrypt
     restart: unless-stopped
     volumes:
       - ./conf.d:/etc/nginx/conf.d
       - ./certs:/etc/nginx/certs:rw
       - /var/run/docker.sock:/var/run/docker.sock:ro
     environment:
       NGINX_DOCKER_GEN_CONTAINER: "nginx-gen"
       NGINX_PROXY_CONTAINER: "nginx"
                    </code>
                </pre>
            </section>
            <section>
                <h2>Extra: Usage</h2>
                <pre>
                    <code>
    ...
    LETSENCRYPT_HOST=whoami.com
    LETSENCRYPT_EMAIL=who@whoami.com
    ...
                    </code>
                </pre>
            </section>
        </section>
        <section>
            <h2>Thank you!!</h2>
            <h2 class="fragment">Questions?</h2>
        </section>
    </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
        dependencies: [
            {src: 'plugin/markdown/marked.js'},
            {src: 'plugin/markdown/markdown.js'},
            {src: 'plugin/notes/notes.js', async: true},
            {
                src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            }
        ]
    });
</script>
</body>
</html>
